{% extends 'base.html' %}

{% block title %}Список сотрудников{% endblock %}

{% block content %}
<h1 style="font-size: 24px;">Список сотрудников</h1>
<form method="GET" action="{% url 'employee_list' %}">
    <label for="filter">Фильтр по имени или должности:</label>
    <input type="text" id="filter" name="filter" value="{{ request.GET.filter }}">
    <button type="submit">Применить фильтр</button>
</form>
<a href="{% url 'last_made_request_details' %}" class="button">Корзина</a>
<ul>
    {% for employee in employees %}
        <li>
            <a href="{% url 'employee_detail' employee.id %}">
                {% if employee.photo %}
                    <img src="{{ employee.photo.url }}" alt="{{ employee.name }} Photo">
                {% else %}
                    <img src="http://127.0.0.1:9000/mock-pics/OIG.jpg" alt="Mock Photo">
                {% endif %}
                <h2>{{ employee.name }}</h2>
                <p>{{ employee.role }}</p>
            </a>
            <form method="post" action="{% url 'delete_employee' employee.id %}">
                {% csrf_token %}
                <button onclick="return confirm('Вы уверены, что хотите удалить сотрудника?')" class="delete-button" type="submit">Удалить</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}